
<nt name="error-view">
  <div id="error-details"></div>
</nt>

<nt name="error-details">
  <h1 id="error-id" n-content="ErrorId#{:errorID}"></h1>
	<span id="error-details-createdAt"  n-content="{:createdAt}"></span>
	<div id="error-details-content">
		<h2>Details</h2>
		<dl class="row">
  		<dt class="col-sm-3">Name</dt>
  		<dd class="col-sm-9" n-content="{:name}"></dd>
			<dt class="col-sm-3">Message</dt>
  		<dd class="col-sm-9" n-content="{:message}"></dd>
			<dt class="col-sm-3">Stack</dt>
  		<dd class="col-sm-9">
  			<code n-content="{:stack}"></code>
  		</dd>
		</dl>
	</div>
	<div id="error-details-options">
		<h2>Details</h2>
		<dl class="row" n-html="{::getErrorOptions()}"></dl>
	</div>
	<div id="error-details-env">
		<h2>Environment</h2>
		<dl class="row" n-html="{::getErrorEnvironment()}"></dl>
	</div>
</nt>
